.form {
  background-color: white;
  border-radius: .5em;
  box-shadow: none;
  margin: 4em auto 0;
  padding: 1em;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    &__title {
      text-align: center;
    }
  }

  &__fields {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__item {
      flex: 1;
      padding-right: .10em;
      width: 100%;
    }
  }

  @media (min-width: 960px) {
    box-shadow: .1em .1em .5em lightgrey;

    &__header {
      flex-direction: row;

      &__close-button {
        min-width: 15%;

        mat-icon {
          left: 18%;
        }
      }

      h1 {
        text-align: left;
      }
    }
  }
}