.form {
  background-color: white;
  padding: 2vh;
  max-width: 40vh;
  border-radius: .5em;
  box-shadow: none;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f1f1f1;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}